<launch>
    <node pkg="ros-antenna-tracker" type="tracker_node" name="tracker_node" output="screen">
        <param name="antenna_latitude" value="47.397888224831476"/>
        <param name="antenna_longitude" value="8.545819680510272"/>
        <param name="antenna_initial_heading" value="180"/>
    </node>
</launch>