<launch>
    <node pkg="ros-antenna-tracker" type="tracker_node" name="tracker_node" output="screen">
        <param name="antenna_latitude" value="43.78195135531073" />, 
        <param name="antenna_longitude" value="-79.4664673296312"/>
        <param name="antenna_initial_heading" value="170"/>
    </node>
</launch>